<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{tag}}</h1>
    <h2>jinja tags is a advanced leven writing tag in html files</h2>
    <h3>thease are two types</h3>
    <h1>1.jinja printing tag ,2.jinja operational tag</h1>
    <h2>1.tags used for printing the data which is sent from back end to front end</h2>
    <h2>2.these tags used for operiting some operations</h2>
</body>
</html>